@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-left {
  animation: slide-left 0.5s ease-out;
}

.animate-slide-right {
  animation: slide-right 0.5s ease-out;
}
